body {
    background: linear-gradient(90deg, gray, white);
    font-family: "Hepta Slab", monospace;
}

.title {
    background: linear-gradient(90deg, rgb(179, 179, 179), white);
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
}

.sub-title {
    background: linear-gradient(90deg, rgb(179, 179, 179), white);
    border-radius: 20px;
    padding: 5px; 
}

.validatie{
    height: 1.2em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}


.list-item-img {
    list-style-image: url(eye_icon3.png);

}

.button {
    padding: 10px;
    position: fixed;
    right:25px;
    margin:0;
    border: solid gray 2px;
    text-decoration: none;
    color: black;
}

.button:hover { 
    border: solid gray 4px;
    text-decoration: underline; 
}

#button1 {
    bottom: 90%;
    background: linear-gradient(90deg, gray,  white);
    padding-left: 60px;
}

#button2 {
    bottom: 83%;
    background: linear-gradient(90deg, gray, white);
}

#button3 {
    bottom: 76%;
    background: linear-gradient(90deg, gray,white);
    padding-left: 50px;
}

#button4 {
    bottom: 69%;
    background: linear-gradient(90deg, gray,white);
    padding-left: 74px;
}


.header {
    text-align: center;
}

.rooster {
    width: 100%;
    font-size: 15px;
    font-family: monospace;
}

.top-table-row {
    background-color: gray;
    font-size: 20px;
}

.table-item {
    border: 2px solid black;
}

em {
    background-color: #c7c7c7 ;
}

.table-title {
    font-size: 50px;
}