
.header {
    text-align: center;
}

.rooster {
    width: 100%;
    font-size: 15px;
    font-family: monospace;
}

.top-table-row {
    background-color: gray;
    font-size: 20px;
}

.table-item {
    border: 2px solid black;
}

em {
    background-color: #c7c7c7 ;
}