body {
    font-family: "hepta slab", monospace;
    text-align: center;
}
.button {
    padding: 10px;
    background: linear-gradient(90deg, rgb(250, 206, 206), #CCFFFF)
}

li {
    list-style: none;
}
